@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400; 
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
     font-weight: 500; 
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
    font-weight: 800; 
    font-style: normal;
}


*, *::after, *::before {
    box-sizing: inherit;
}

html {
    box-sizing:border-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Montserrat";

    background-image: linear-gradient(180deg, #EDA418 47.5%, rgba(237, 164, 24, 0) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Шапка */

.header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.header__top {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo_container {
    width: 350px;
    height: 70px;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 30px;
    color:black;
}

.logo > img {
    width: 60px;
    height: 60px;
}

.logo span {
    font-size: 25px;
    font-weight: 800;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color:black;
}

.menu ul li a {
    font-weight: 400;
}

.menu ul li a.active {
    font-weight: 800;
}

.btn {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.hero__container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 0 0 250px 130px;
}

.hero__container h1 {
    white-space: nowrap;
    font-size: 32px;
    font-weight: 800;
}

.hero__container > p {
    font-size: 18px;
}

.btn1 {
    width: 143px;
    height: 60px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat";
}

.btn-primary {
    background: red;
    color: white;
}

.hero__img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__img img {
    width: 900px;
    height: 900px;
    object-fit: contain;
    margin-bottom: 200px;
}

/* Карточки товаров */

.menu__container {
    width: 100%;
    max-width: 1600px;
    height: 900px;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
}

.menu__container h2 {
    text-align: center;
    margin-bottom: 40px;
}

.cards__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cards__container .card img {
    width: 450px;
    height: 300px;
    display: flex;
    border: none;
    border-radius: 50px;
}

.card p {
    text-align: center;
    padding-top: 15px;
    font-weight: 500;
    font-size: 24px;
}

/* Низ */

.page__footer {
    width: 100%;
    min-height: 450px;
    text-align: center;
    background-image: linear-gradient(0deg, #EDA418, rgba(237, 164, 24, 0) 100%);
    margin: 0;
    padding: 0;
}

.page__footer .footer__container {
    max-width: 1400px;
    margin: 0 auto;
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 160px;
    gap: 150px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
}

.footer_title {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.footer_page_text {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    list-style: none;
}

.footer_contacts {
   padding-top: 25px; 
}

.footer_contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    list-style: none;
    padding-top: 25px;
}

.footer_img {
    width: 50px;
    height: 50px;
    display: block;
}